<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>list all data</title>
    <script src="webjars/jquery/3.1.1/jquery.min.js"></script>
</head>
<script>
    $(function () {
        setInterval(function(){
            console.log("loading")
            location.reload();
        },10000)
    })

    function transcoding(obj){
        console.log(obj);
        var outputName=$(obj).prev().val();
        console.log(outputName)
        var format=$(obj).prev().prev().find("option:selected").text();
        console.log(format);
        var inputName=$(obj).parent().prev().html();
        console.log(inputName);
        $.ajax({
            url:"/code",
            data:{format:format,inputName:inputName,outputName:outputName},
            type:"POST",
            success:function () {
                
            },
            error:function () {
                
            }
            
        })
    }
</script>
<body>
    <table border="1">
        <tr><td  colspan="2">the input fileNames</td></tr>
        <tr th:each="fileName:${inputFileNames}">
            <td  th:text="${fileName}">None</td>
            <td> <a onclick="transcoding()"></a>
                文件类型:<select name="format">
                        <option th:each="format:${formats}" th:value="${format}" th:text="${format}"></option>
                    </select>
                <!--编码:<select name="codec">-->
                        <!--<option th:each="codec:${codecs}" value="${codec}" th:text="${codec}"></option>-->
                       <!--</select>-->
                文件名称:<input type="text" value="" />

                <button onclick="transcoding(this)" >transcoding</button>
            </td>
        </tr>
        <tr><td colspan="2">the output fileNames</td></tr>
        <tr th:each="fileName:${outputFileNames}">
            <td th:text="${fileName}">None</td>
            <td></td>
        </tr>
    </table>
</body>
</html>