<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>a patch of video upload</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data" action="/uploadPatchVideo">
        <table border="1">
            <tr><td>文件1:</td><td><input type="file" name="file1"/></td></tr>
            <tr><td>文件2:</td><td><input type="file" name="file2"/></td></tr>
            <tr><td>文件3:</td><td><input type="file" name="file3"/></td></tr>
            <tr><td colspan="2"><input type="submit" value="submit"/></td></tr>
        </table>
    </form>
</body>
</html>